<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.maqueezu.utils">


    <application>
        <activity android:name=".ui.FragmentContainerActivity"
                  android:configChanges="orientation|screenSize|keyboardHidden|keyboard|"
                  android:screenOrientation="portrait"/>

        <activity
            android:name="com.tencent.smtt.sdk.VideoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:launchMode="singleTask"
            android:alwaysRetainTaskState="true">
            <intent-filter>
                <action android:name="com.tencent.smtt.tbs.video.PLAY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
